.testtime{
	width:100px;
	height:100px;
	border:1px solid black;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.start{
	background: orange;
}
.wait{
	background: red;
}
.scold{
	background: orange;
}
.time{
	background: LightGreen;
}
.time2{
	width:1000px;
	height:1000px;
	background: LightGreen;
}
.result{
	background: LightBlue;
}